body{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

}

.calculator{
    max-width: 50%;
    background-color: black;
    padding:2px;
}

nav{
    background-color: grey;
    
}


button{
    margin:3px;
    flex-grow:1;
    font-size: 5px;
}


.functionalButtons{
    background-color: turquoise;
}

.operatorFunctions{
    background-color: brown;
}

.numericalValues{
    background-color:yellow ;
}

.calculatorBody{
    display:flex;
    flex-direction: row-reverse;

}

.operatorFunctions{
    display:flex;
    flex-direction: column;
}

.netContainer{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    
}

.netContainer >div{
    display:flex;
    flex-direction:row;

    flex-wrap:wrap;
}

.numericalValues{
    flex-grow:1;
}